.avatar-list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.avatar {
    width: 200px;
    height: 240px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    text-align: center;
}
.avatar-img {
    width: 180px;
    /* border: 1px solid gray; */
    /* border-radius: 100%; */
    padding: 10px 20px;
}
.avatar-img-circle {
    width: 180px;
    /* border: 1px solid gray; */
    border-radius: 100%;
    padding: 10px 20px;
}